<ul class="development-tools">
	<li><a href="#" class="icon sass" target="_blank">SASS</a></li>
	<li><a href="#" class="icon playframework" target="_blank">Play&shy;Framework</a></li>
	<li><a href="#" class="icon coffeescript" target="_blank">Coffee&shy;Script</a></li>
	<li><a href="#" class="icon android" target="_blank">Android</a></li>
	<li><a href="#" class="icon bitcoin" target="_blank">Bitcoin</a></li>
	<li><a href="#" class="icon github" target="_blank">GitHub</a></li>
	<li><a href="#" class="icon jquery" target="_blank">jQuery</a></li>
	<li><a href="#" class="icon laravel" target="_blank">Laravel</a></li>
	<li><a href="#" class="icon svg" target="_blank">SVG</a></li>
	<li><a href="#" class="icon html5" target="_blank">HTML5</a></li>
	<li><a href="#" class="icon css3" target="_blank">CSS3</a></li>
	<li><a href="#" class="icon scala" target="_blank">Scala</a></li>
	<li><a href="#" class="icon sass" target="_blank">SASS</a></li>
	<li><a href="#" class="icon playframework" target="_blank">Play&shy;Framework</a></li>
	<li><a href="#" class="icon coffeescript" target="_blank">Coffee&shy;Script</a></li>
</ul>