<ul class="development-tools">
	<li><a href="http://sass-lang.com/" class="icon sass" target="_blank">SASS</a></li>
	<li><a href="http://playframework.com/" class="icon playframework" target="_blank">Play&shy;Framework</a></li>
	<li><a href="http://coffeescript.org/" class="icon coffeescript" target="_blank">Coffee&shy;Script</a></li>
	<li><a href="http://android.com/" class="icon android" target="_blank">Android</a></li>
	<li><a href="https://bitcoin.org/" class="icon bitcoin" target="_blank">Bitcoin</a></li>
	<li><a href="https://github.com/" class="icon github" target="_blank">GitHub</a></li>
	<li><a href="http://jquery.com/" class="icon jquery" target="_blank">jQuery</a></li>
	<li><a href="http://laravel.com/" class="icon laravel" target="_blank">Laravel</a></li>
	<li><a href="http://en.wikipedia.org/wiki/Svg" class="icon svg" target="_blank">SVG</a></li>
	<li><a href="http://en.wikipedia.org/wiki/HTML5" class="icon html5" target="_blank">HTML5</a></li>
	<li><a href="http://en.wikipedia.org/wiki/Cascading_Style_Sheets" class="icon css3" target="_blank">CSS3</a></li>
	<li><a href="http://www.scala-lang.org/" class="icon scala" target="_blank">Scala</a></li>
	<li><a href="http://sass-lang.com/" class="icon sass" target="_blank">SASS</a></li>
	<li><a href="http://jetbrains.com/idea/" class="icon intellij" target="_blank">IntelliJ IDEA</a></li>
	<li><a href="http://coffeescript.org/" class="icon coffeescript" target="_blank">Coffee&shy;Script</a></li>
</ul>