#contact
	.form
		:padding-bottom 0

		form
			:margin-bottom $spacing

		fieldset
			+stretched-background( $color-highlight )
			:color $color-neutral
			:margin-top $spacing * 0.5
			:padding 0 0 $spacing * 0.5 0

			&:first-child
				:margin-top 0

		label
			:display inline-block
			:font-weight 300
			:padding rem( 43px ) rem( 24px ) 0 0
			:text-align right
			:text-transform uppercase
			:width 10%

		input, textarea
			+font-size( 20px )
			+placeholder
				:color rgba( $color-main, 0.6 )
				:font-family $font-family-headline
				:font-weight 300
				:text-transform uppercase
			:border 2px solid transparent
			:color $color-main
			:float right
			:font-family $font-family-headline
			:margin $spacing * 0.5 10% 0 0
			:outline none
			:padding rem( 14px ) rem( 10px )
			:width 80%

			&[disabled]
				:color rgba( $color-main, 0.6 )
				:font-weight 300
				:text-transform uppercase

			&:focus
				:border-color $color-main

		textarea
			:height rem( 350px )
			:resize none

		.button
			:border-color $color-neutral
			:color $color-neutral
			:margin-top $spacing * 0.5

			&:before
				:background-color $color-neutral

			&:hover
				:color $color-main

	.legal
		#map
			@extend %full-height
			@extend %full-width
			:margin-bottom $spacing
			:overflow hidden
			:position relative

			> div
				:height 100%

			noscript img
				+absolute( -9999px, -9999px, -9999px, -9999px )
				:margin auto

			#address
				+absolute( $bottom: 50%, $left: 50% )
				:background-color $color-neutral
				:color $color-main
				:margin-left rem( -150px )
				:padding $spacing * 0.5 $spacing * 1.5
				:transition color $transition-duration $transition-effect, background-color $transition-duration $transition-effect, box-shadow $transition-duration $transition-effect
				:width rem( 300px )

				&:after
					+absolute( $top: 100%, $left: 50% )
					:border-left 25px solid transparent
					:border-right 25px solid transparent
					:border-top-color $color-neutral
					:border-top-style solid
					:border-top-width 25px
					:content ''
					:height 0
					:margin-left -25px
					:transition border-top-color $transition-duration $transition-effect
					:width 0

				&:hover
					:background-color $color-highlight
					:color $color-neutral

					&:after
						:border-top-color $color-highlight

				span
					:display block

				.city
					:font-weight 700
					:margin-top $spacing * 0.25

		p
			:column-count 2
			:text-align justify