<footer>
	<header>
		<h2><a href="#" class="icon logo">taig.io</a></h2>
		<h3>Personal portfolio of<br />Niklas Klein</h3>
	</header>
	<ul>
		<li>
			<h4>taig.io</h4>
			<ul>
				<li><a href="@controller.routes.Application.home()">Niklas Klein</a></li>
				<li><a href="@controller.routes.Application.portfolio()">Portfolio</a></li>
				<li><a href="#" class="disabled">Blog</a></li>
				<li><a href="@controller.routes.Application.contact()">Contact</a></li>
			</ul>
		</li>
		<li class="socials">
			<h4>On the web</h4>
			<ul>
				<li><a href="https://github.com/taig" target="_blank">GitHub</a></li>
				<li><a href="https://twitter.com/mytaig" target="_blank">Twitter</a></li>
				<li><a href="https://stackoverflow.com/users/1493269/taig" target="_blank">StackOverflow</a></li>
			</ul>
		</li>
	</ul>

	<aside>
		<a href="#" target="_blank">This website is open source.</a>
	</aside>
</footer>