@font-face {
	font-family: 'font';
	src:url('fonts/font.eot?-ds8pc9');
	src:url('fonts/font.eot?#iefix-ds8pc9') format('embedded-opentype'),
		url('fonts/font.woff?-ds8pc9') format('woff'),
		url('fonts/font.ttf?-ds8pc9') format('truetype'),
		url('fonts/font.svg?-ds8pc9#font') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'font';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-logo:before {
	content: "\e60f";
}
.icon-dash:before {
	content: "\e600";
}
.icon-dashes:before {
	content: "\e605";
}
.icon-hamburger:before {
	content: "\e607";
}
.icon-mail:before {
	content: "\e610";
}
.icon-quote:before {
	content: "\e606";
}
.icon-android:before {
	content: "\e611";
}
.icon-bitcoin:before {
	content: "\e612";
}
.icon-chrome:before {
	content: "\e609";
}
.icon-coffeescript:before {
	content: "\e613";
}
.icon-hangouts:before {
	content: "\e603";
}
.icon-css3:before {
	content: "\e601";
}
.icon-github:before {
	content: "\e614";
}
.icon-html5:before {
	content: "\e602";
}
.icon-intellij:before {
	content: "\e608";
}
.icon-java:before {
	content: "\e60a";
}
.icon-jquery:before {
	content: "\e616";
}
.icon-laravel:before {
	content: "\e617";
}
.icon-playframework:before {
	content: "\e618";
}
.icon-sass:before {
	content: "\e619";
}
.icon-scala:before {
	content: "\e604";
}
.icon-svg:before {
	content: "\e61a";
}
.icon-twitter:before {
	content: "\e61b";
}
