#home
	.teaser
		@extend %full-height
		@extend %full-width
		+fixed( $top: $header-navigation-height, $right: 0, $left: 0 )
		:background url( '../image/portrait.jpg' ) right center no-repeat
		:background-size cover
		:color $color-neutral
		:z-index -1

		&:before
			:content none

		/*
		 * Vertical alignment hack
		 */
		&:after, header
			:display inline-block
			:vertical-align middle

		&:after
			:content ''
			:height 100%

		header
			:margin 0
			:padding 0 $spacing * 0.5
			:position relative
			:text-shadow rem( 2px ) rem( 2px ) rgba( black, 0.75 )

			&:after
				:content none

		h2
			+font-size( 54px )
			:font-weight 700

			&:after
				+font-size( 475px, false )
				:content '\e605'
				:display block
				:font-weight normal
				:font-family $font-icon

	.about-me
		:margin-top $full-height
		:margin-top 100vh

		p
			:column-count 2
			:column-gap $spacing
			:text-align justify

		.button
			:margin-top $spacing

	.quote
		@extend %font-headline
		:background-color $color-highlight
		:color $color-neutral

		blockquote
			:font-weight 300
			:padding 0 $spacing * 3
			:position relative

			&:before
				+absolute( $top: rem( 20px ), $left: rem( 100px ) )
				+font-size( 30px, false )
				:content '\e606'
				:font-family $font-icon

		p
			+font-size( $font-size * 1.5 )
			:text-align left

		footer
			:margin-top $spacing * 0.5
			:text-align right

			&:before
				:content '— '

	.tools
		:padding-bottom 0

		ul
			:padding 0

		li
			:display inline-block
			:margin-bottom $spacing
			:padding 0 $spacing * 0.25
			:vertical-align top
			:width 20%

			&:nth-child( 5n + 1 )
				:padding-left 0

			&:nth-child( 5n )
				:padding-right 0

		a
			@extend %font-headline
			+font-size( $font-size )
			+icon
				+font-size( 120px, false )
				:display block
				:margin-bottom $spacing * 0.25
			:color $color-main
			:display block
			:font-weight 700

			&:hover
				:color $color-highlight

	.contact
		li
			:display inline-block
			:margin-left $spacing * 0.5

			&:first-child
				:margin-left 0

		a
			+icon
				+font-size( 60px, false )
			:color $color-main
			:display inline-block
			:padding $spacing * 0.25

			&:hover
				:color $color-highlight