@(
	id: String,
	title: String,
	subtitle: String,
	colors: Seq[String] = Seq( "transparent" )
)( tile1: Html )( tile2: Html )( footer: Html )

@{ require( colors.length > 0 ) }

<style>
	#@{ id } .teaser:before {
		background-color: @colors( 0 );
	}

	#@{ id } .tile:nth-child( 1 ):after {
		background-color: @colors( 1 % colors.length );
	}

	#@{ id } .tile:nth-child( 2 ):after {
		background-color: @colors( 2 % colors.length );
	}
</style>

<article id="@id" class="project">
	<header class="teaser">
		<h3>@Html( title )</h3>
		<h4>@Html( subtitle )</h4>
	</header>

	<aside>
		@for( tile <- Seq( tile1, tile2 ) ) {
			<div class="tile">@tile</div>
		}
	</aside>

	<footer>
		@footer
	</footer>
</article>