@( notification: Option[Notification], scripts: Seq[String] = Seq() )( content: Html )( implicit page: Page, request: Request[Any] )

<!DOCTYPE html>
<html lang="en" class="@page.item.child.map( _ => "subnavigation" ) @notification.map( _ => "notification" )">
	<head>
		<meta charset="utf-8">

		<title>Niklas Klein</title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

		<link media="all" type="text/css" rel="stylesheet" href="@routes.Assets.versioned( "stylesheet/main.css" )">
	</head>
	<body id="@page.id">
		@widget.header.index( notification )

		@content

		@widget.footer.index()

		@for( script <- routes.Assets.versioned( "lib/jquery/jquery.min.js" ) +: scripts :+ routes.Assets.versioned( "javascript/main.js" ) ) {
			<script src="@script"></script>
		}
	</body>
</html>