@( id: String, scripts: Seq[String] = Seq() )( content: Html )( implicit page: Page, request: Request[Any] )

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">

		<title>Niklas Klein</title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

		<link media="all" type="text/css" rel="stylesheet" href="@routes.Assets.at( "stylesheet/main.css" )">
	</head>
	<body id="@id" class="@{ "subnavigation".when( page.subnavigation.length > 0 ) }">
		@widget.header.index( page.navigation, page.subnavigation )

		@content

		@widget.footer.index()

		@for( script <- routes.Assets.at( "javascript/jquery-2.1.0.min.js" ) +: scripts :+ routes.Assets.at( "javascript/main.js" ) ) {
			<script src="@script"></script>
		}
	</body>
</html>