<footer>
	<address>
		<h2><a href="#" class="icon logo">taig.io</a></h2>
		<h3>Personal portfolio of<br />Niklas Klein</h3>
	</address>

	<ul>
		<li>
			<h4>taig.io</h4>
			@widget.navigation.index(
				( Some( routes.Home.index().toString() ), "Niklas Klein" ) +: Navigation.main,
				selection = None
			)
		</li>
		<li class="socials">
			<h4>On the web</h4>
			<ul>
				<li><a href="https://github.com/taig" target="_blank">GitHub</a></li>
				<li><a href="https://twitter.com/mytaig" target="_blank">Twitter</a></li>
				<li><a href="https://stackoverflow.com/users/1493269/taig" target="_blank">StackOverflow</a></li>
			</ul>
		</li>
	</ul>

	<aside>
		<a href="#" target="_blank">This website is open source.</a>
	</aside>
</footer>